dash>=2.0.0
dash-auth==1.4.1
dash_bootstrap_components==1.1.0
dash_dangerously_set_inner_html
dash-defer-js-import==0.0.2
dash-renderer==1.8.2

pandas>=1.0.3
Flask==2.1.0
Flask-login
treelib
markdown
pandas-datareader
python-docx==0.8.10
#python-magic-bin==0.4.14
python-dotenv
plotly-express
kaleido
Pillow
psycopg2
datetime
oauthlib
sqlalchemy
flask_sqlalchemy
openpyxl
python-magic

