/* Banner
-------------------------------------------------- */
.banner {
    background-color: rgb(var(--background-color-banner));
    padding: .5rem 0;
    width: 100%;
}

.banner .banner-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}

.banner .banner-logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-image: var(--logo-url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.banner h2 a {
    color: var(--color-secondary);
    display: inline-block;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

@media only screen and (max-width: 720px){
    .banner .banner-row {
        display: inline;
    }
    .banner .banner-logo {
        width: 95%;
    }

    .banner h2 a {
        font-size: 2rem;
    }
}

.banner h2:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.banner h2 a:hover {
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
}

.banner Img {
    position: relative;
    float: right;
    height: 3.5rem;
    margin-top: 1.25rem
}

.banner .container.scaleable .row {
    width: 100% !important;
}

.banner .legal {
    margin-bottom: 1.5rem;
    text-align: right;
}

.banner .legal a {
    color: var(--color-secondary);
}

.banner .legal a span {
    color: var(--color-secondary);
}

.banner .legal a:hover {
    color: var(--color-primary);
}

.banner .legal a {
    margin-right: 1rem;
}

.banner .legal a:last-child {
    margin-right: 0rem;
}


