.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.parameter-dashboard {
    max-width: 25%;
}

/* Burger Menu */
div.burger-button-container {
    width: 100% !important;
    margin-bottom: 10px;
    margin-top: 0;
}

label.hamburg { 
    display: block;
    background: transparent; 
    width: 36px; 
    height: 24px; 
    position: relative; 
    cursor: pointer;
    /*background-color: rgb(var(--color-secondary));*/
    padding: 2px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
    /* margin-left: 15px;  */
    /* margin-right: auto; */
    margin-top: auto;

    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(var(--color-secondary));
    /* border-style: solid; */
    border-style: none;
}

label.hamburg:hover > .line {
    background-color: rgb(var(--color-primary));
}

label.hamburg:hover {
    border-color: rgb(var(--color-primary));
}

input#hamburg { display: none; }

.line { 
    position: absolute; 
    left: 6px;
    height: 2.5px; 
    width: 20px; 
    color: rgb(var(--color-primary));
    background: rgb(var(--color-secondary));
    
    border-radius: 2px;
    display: block; 
    /* transition: 0.5s;  */
    /* transform-origin: center;  */
}

.line:nth-child(1) { top: 4px; }
.line:nth-child(2) { top: 9px; }
.line:nth-child(3) { top: 14px; }

/* #hamburg:checked + .hamburg .line:nth-child(1){
    transform: translateY(8px) rotate(-45deg);
} */

/* #hamburg:checked + .hamburg .line:nth-child(2){
    opacity:0;
} */

/* #hamburg:checked + .hamburg .line:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
} */


/* hiding parameter container */
.parameter-dashboard.active {
    visibility: hidden;
    max-width: 0 !important;
    overflow: hidden !important;
    transform-origin: 0% 0%;
    transform: translateX(-100%);
    -webkit-font-smoothing: antialiased;
    transition: all 0.5s;
    margin: 0 !important;
    padding: 0 !important;
}

.graph-dashboard.active {
    max-width: 98%;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
    margin: 0 1% 0 1%; 
}


/* back to navigator */
#btn_backToNavi {
    background-color: transparent;
    color: rgb(var(--color-secondary));
    height: 24px;
    font-size: 0.8em;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    transition: all 0.5s, color 0s;
}

#btn_backToNavi:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/* new container for burger and back */
.burger-button-container-left {
    display: flex;
    /*justify-content: space-between;*/
    width: auto;
    padding-right: 20px;
    margin-right: 15px;
    transition: all 0.5s, padding 0s;
}
/* .burger-button-container-left.active {
    margin-left: 15px;
    transform-origin: 0% 0%;
    transform: translateX(-40%);
    -webkit-font-smoothing: antialiased;
    transition: all 0.5s;
} */