/* core.css - for everything "core" - buttons, menuitems, etc. */

/* general (daisie layout)
-------------------------------------------------- */

/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: var(--font-main);
    color: rgb(var(--default-text-color));
}

/* Font-faces
*/

/* cyrillic */

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(./gstatic-font.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(./gstatic-font.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(./gstatic-font.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(./gstatic-font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Row 
-------------------------------------------------- */
.row {
    display: flex;
    margin: 0;
}

.base-background {
    background-color: rgb(var(--background-color-basic));
    min-height: 100vh;
}

.body-container {
    background-color: rgb(var(--background-color-content));
    max-width: var(--default-page-max-width);
    margin: auto;
}

.main-container {
    background-color: rgb(var(--background-color-content));
    max-width: var(--default-page-max-width);
    min-height: 100vh;
    margin: auto;
    padding-bottom: 0;
}

.content-container {
    min-height: 100%;
    background-color: rgb(var(--background-color-content));
}

.legal-text {
    margin: 5px;
    float: right;
}

/* Black Box shown to rotate Display if not horizontal ("disable landscape")
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#overlay-landscape {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-landscape .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--default-text-contrast-color));
}

@media (orientation: portrait) {
    #overlay-landscape {
        display: block;
    }
}
@media (orientation: landscape) {
    #overlay-landscape {
        display: none;
    }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn {
    margin: 0 0rem 0.5rem 0rem;
}

.btn-primary {
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
}

.btn-primary:hover {
    background-color: rgb(var(--color-button-hover));
    border-color: rgb(var(--color-button-hover));
}

.btn-outline-secondary:hover {
    background-color: rgb(var(--color-button-hover));
    border-color: var(--color-button-hover);
}

.daisie-help-btn {
    transform: scale(0.7);
    border-radius: 50%;
    color: rgb(var(--color-secondary));
    background-color: transparent;
    border: 1px solid rgb(var(--color-secondary));
}
.daisie-help-btn:hover,
.daisie-help-btn:focus {
    background-color: transparent;
    color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
}

.report-button-container {
    display: flex;
    justify-content: center;
}

.report-btn {
    flex-basis: 15rem;
}

@media (min-width: 769px) {
}

@media (min-width: 1250px) {
    .report-button-container {
        display: block;
        width: 100%;
    }
    .report-btn {
        display: block;
        width: 100%;
    }
}

.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%) !important;
    border-color: rgb(var(--color-primary)) !important;
    background-color: rgb(var(--color-primary)) !important;
}

.btn.btn-primary:active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-secondary:focus {
    color: #fff !important;
}

.btn-secondary:hover {
    color: rgb(var(--color-primary)) !important;
}

/* TODO: Homogenize usage of class-selectors and element-id-selectors
/* back to navigator */
#btn_backToNavi {
    background-color: transparent;
    color: rgb(var(--color-secondary));
    height: 24px;
    font-size: 0.8em;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    transition: all 0.5s, color 0s;
}

#btn_backToNavi:hover {
    color: rgb(var(--color-primary));
    text-decoration: none;
}

/* Select
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Select--multi .Select-value {
    border: none !important;
    color: rgb(var(--color-secondary)) !important;
    background-color: rgba(var(--color-primary), 0.25) !important;
}

.Select--multi .Select-value:hover {
    border: none !important;
    background-color: rgba(var(--color-primary), 0.5) !important;
}

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
    color: rgb(var(--color-secondary)) !important;
}

/* Slider
-------------------------------------------------- */

.rc-slider-track {
    background-color: rgb(var(--color-secondary));
}

.rc-slider-handle {
    border: solid 2px rgba(var(--color-secondary), 0.8);
}

.rc-slider-dot-active {
    border: solid 2px rgba(var(--color-secondary), 0.8);
}

/* Radio-Buttons
-------------------------------------------------- */

#selection-time-checklist {
    display: inline-block;
}

#selection-time-checklist label,
#activate-options .label,
#select-all-kunden-business .label,
#select-all-bereich-business .label {
    margin-right: 0.5rem;
}

#selection-time-checklist label input,
#activate-options .label input,
#select-all-kunden-business .label input,
#select-all-bereich-business .label input {
    margin-right: 0.25rem;
}

/* Dash-Dropdown
-------------------------------------------------- */

.dash-dropdown {
    margin-bottom: 0.5rem;
}

/* Date-Picker
-------------------------------------------------- */
/* .DateInput{
}
*/

.DateRangePickerInput {
    display: flex;
    box-sizing: border-box;
}

.DateInput_input {
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    text-align: center;
}

.DateRangePickerInput_arrow_svg {
    width: 20px;
    height: 20px;
}

.SingleDatePickerInput {
    border: 0px;
}

.SingleDatePicker_picker {
    transform: translateX(-22%);
}

div.topleftsnippet {
    box-shadow: 3px 3px 0 3px #ffffff,
                3px 10px 0 3px #ffffff,
                3px 20px 0 3px #ffffff, 
                3px 30px 0 3px #ffffff,
                3px 35px 0 3px #ffffff,
                10px 3px 0 3px #ffffff,
                17px 3px 0 3px #ffffff;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    overflow: hidden;
    position: relative;
    /*top: -45%;*/
    left: -4%; 
    z-index: 99;
}