/* Header-related css
*/
.header-second-right-text {
    margin: 5px;
    color: rgb(var(--color-secondary));
}

.header-second-left-text {
    margin: 5px;
    color: rgb(var(--color-secondary));
}

.header-right-bar {
    margin-right: 0;
    margin-left: auto;
}

.header-second-right-bar {
    margin-right: 0;
    margin-left: auto;
}

.second-row {
    background-color: rgb(var(--background-color-header-secondary));
}

.header-logo {
    max-height: 50px;
    margin: 20px;
}

/* Double-header
*/
.search-box {
    margin: 20px;
    margin-left: auto;
    margin-right: 0;
}
.report-header {
    background-color: rgb(var(--background-color-header));
    max-width: var(--default-page-max-width);
    margin: auto;
}

/* Single-header
*/
.single-header {
    background-color: rgb(var(--background-color-header));
}
