/* nav-related css */

/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.NavLeft {
    background-color: rgb(100, 253, 252);
    max-width: 200px;
    margin: auto;
    overflow: scroll;
    min-height: 30cm;
    }

.NavRight {
    background-color: rgb(100, 253, 252);
    max-width: 200px;
    margin: auto;
    overflow: scroll;
    min-height: 30cm;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
    margin-bottom: 1rem;
}

.navbar-brand {
    height: 5rem;
}

.NavBarTop {
    background-color: rgb(100, 253, 252);
    margin: auto;

    }

/* Navigation Card
-------------------------------------------------- */
.navigation-card .card-footer {
    margin: auto;
}

/* Nav footer
-------------------------------------------------- */
.navigator-footer-body {
    background-color: rgb(190, 190, 190);
    max-width: var(--default-page-max-width); 
    margin: auto;   
}

.footer-navigator {
    margin: auto;

}

.footer-nav-columns {
    background-color: transparent;
    color: rgb(var(--color-secondary));
    min-width: 180px;
    max-width: 250px;
    
    min-height: 100px;
    max-height: 200px;

    margin: 20px;
}

.footer-nav-columns a {
    color: rgb(var(--color-secondary));
}


.footer-nav-headline {
    font-weight: bold;
    color: rgb(var(--color-secondary));
}

.breadcrumb-entry {
    padding: 5px;
}

.nav-link {
    color: rgb(var(--color-secondary));
}

/*.nav-pills {
    background-color: rgb(var(--color-secondary));
    color: rgb(var(--default-text-contrast-color));
}*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(var(--color-secondary));
}

.left-nav-headline {
    color: rgb(var(--color-secondary));
}
